body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
p {
    font-size: 16px;
}
a {
    border: 1px solid black;
    background-color: aqua;
    padding: 10px 20px;
    text-decoration: none;
}
li {
    margin-bottom: 2em; 
}