html
    head
        title Book Store
        block links
            link(rel='stylesheet', type='text/css', href='/static/css/bootstrap.min.css')
            link(rel='stylesheet', type='text/css', href='/static/css/custom.css')
    body
        div(class="container")
            block head
                include ./../page/header
            block content
                div.newborder
                    each book in books
                        div(class="border-custom")
                            div(class="mt-2")
                                div(class="book-name")
                                    h3(class="text-center")= book.name
                                div(class="book-body")
                                    div(class="book-image")
                                        img(src="/static/upload/book/"+book.image, alt="img")
                                    div(class="book-content")
                                        h4= "Author: "+book.author
                                        
            block foot
                include ./../page/footer