header
    div(class="navbar yamm navbar-default" id="sticky")
        div(class="container")
            div(class="navbar-header")
                a(href="/" class="navbar-brand")
                    img(src="/static/images/logo1.png" alt="logo" class="logo-header img-circle logo-custom")
            div(id="navbar-collapse-grid" class="navbar-collapse collapse fz-16")