<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/products/<%= product.id %>?_method=PUT" method="POST">
        <label for="name">Name: </label><input type="text" name="name" value="<%= product.name %>">
        <label for="price">Price: </label><input type="text" name="price" value="<%= product.price %>">
        <button type="submit">Update</button>
    </form>
</body>
</html>
