extends ../layouts/master.pug

block content
  form(action="/form", method="post", enctype='multipart/form-data')
    label(for="username") Username:
    br
    input(type="text", name="username", placeholder="type your name")
    br
    label(for="password") Password:
    br
    input(type="password", name="password", placeholder="type your password")
    br
    input(type="file", name="image")
    br
    input(type="submit", value="Up")
