doctype html
html
    head
        meta(charset='UTF-8')
        title Register
        link(rel='stylesheet', href='/style.css')
body
    form(action="/register", method="post")
        |Name:
        input(type="text", name="name")
        br
        |Age:
        input(type="text", name="age")
        br
        button(type="submit") OK
